{% extends "::base.html.twig" %}

{% block title %}Modify contact{% endblock %}

{% block body %}
    <div><h2>Edit personal data:</h2>
        {{ form(form) }}
    </div>
    <br>
    <div><h2>Edit addresses:</h2>
        {{ form(addressForm) }}
        <ul>
            {% for address in contact.addresses %}
                <li>{{ address.city }}, {{ address.street }} {{ address.houseNumber }}/{{ address.apartmentNumber }}<br>
                <a href="{{ path("contactbox_contact_deleteaddress", {"id":contact.id, "addressId":address.id}) }}">Delete address</a></li>
                <br>
            {% else %}
            <p>No addresses found</p>
            {% endfor %}
        </ul>
    <div>
    <div><h2>Edit phones:</h2>
        {{ form(phoneForm) }}
        <ul>
            {% for phone in contact.phones %}
                <li>{{ phone.number }} - {{ phone.type }}<br>
                <a href="{{ path("contactbox_contact_deletephone", {"id":contact.id, "phoneId":phone.id}) }}">Delete phone</a></li>
                <br>
            {% else %}
            <p>No phones found</p>
            {% endfor %}
        </ul>
    </div>
    <div><h2>Edit emails:</h2>
        {{ form(emailForm) }}
        <ul>
            {% for email in contact.emails %}
                <li>{{ email.address }} - {{ email.type }}<br>
                <a href="{{ path("contactbox_contact_deleteemail", {"id":contact.id, "emailId":email.id}) }}">Delete email</a></li>
                <br>
            {% else %}
            <p>No emails found</p>
            {% endfor %}
        </ul>
    </div>
    <div><h2>Edit groups:</h2>
        {{ form(crewForm) }}
        <br>
        <a href="{{ path("contactbox_crew_new") }}">Create new group</a>
        <ul>
            {% for crew in contact.crews %}
                <li><a href="{{ path("contactbox_crew_show", {"id":crew.id}) }}">{{ crew.name }}</a> - {{ crew.description }}<br>
                <a href="{{ path("contactbox_contact_removecrew", {"id":contact.id, "crewId":crew.id}) }}">Remove group</a></li>
                <br>
            {% else %}
            <p>No groups found</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
