{% extends "::base.html.twig" %}

{% block title %}Contact id {{ contact.id }}{% endblock %}

{% block body %}
    <div><h2>Personal data:</h2>
        <p>{{ contact.name }} {{ contact.surname }}</p>
        <p>{{ contact.description }}</p>
        <p><a href="{{ path("contactbox_contact_modify", {"id":contact.id}) }}">Edit contact</a></p>
    </div>
    <div><h2>Addresses:</h2>
        <ul>
        {% for address in contact.addresses %}
            <li>{{ address.city }}, {{ address.street }} {{ address.houseNumber }}/{{ address.apartmentNumber }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
