{% extends "::base.html.twig" %}

{% block title %}Contact id {{ contact.id }}{% endblock %}

{% block body %}
    <div><h2>Personal data:</h2>
        <p>{{ contact.name }} {{ contact.surname }}</p>
        <p>{{ contact.description }}</p>
        <p><a href="{{ path("contactbox_contact_modify", {"id":contact.id}) }}">Edit contact</a></p>
    </div>
    <div><h2>Addresses:</h2>
        <ul>
        {% for address in contact.addresses %}
            <li>{{ address.city }}, {{ address.street }} {{ address.houseNumber }}/{{ address.apartmentNumber }}</li>
        {% else %}
            <p>No addresses found</p>
        {% endfor %}
        </ul>
    </div>
    <div><h2>Phones:</h2>
        <ul>
        {% for phone in contact.phones %}
            <li>{{ phone.number }} - {{ phone.type }}</li>
        {% else %}
            <p>No phones found</p>
        {% endfor %}
        </ul>
    </div>
    <div><h2>Emails:</h2>
        <ul>
        {% for email in contact.emails %}
            <li>{{ email.address }} - {{ email.type }}</li>
        {% else %}
            <p>No emails found</p>
        {% endfor %}
        </ul>
    </div>
    <div><h2>Groups:</h2>
        <ul>
        {% for crew in contact.crews %}
            <li>{{ crew.name }} - {{ crew.description }}</li>
        {% else %}
            <p>No groups found</p>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
